header>h1{
    text-align: center;
}

.main-container{
    display: flex;
}

.calc-form{
    border: 1px solid;
    width: 100%;
    padding: 24px;
}

.calc-form-result{
    background-color:gainsboro;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 24px;
}
.calc-form-items{
    padding: 10px;
    background-color: gainsboro;
}
.calc-form-items div{
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
}
button{
    padding-left: 24px;
    padding-right: 24px;
    height: 40px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
}
#calc-button{
    background-color:cadetblue;
    color: white;
}
.download{
    background-color: green;
    color: white;
}
input{
    height: 24px;
    padding-right: 50%;
    border: none;
}